<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Required meta tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title><%= @title %></title>
  </head>

  <body>

    <header class="container-fluid"> <%# Start navbar %>
      <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="/">Inspire</a>
        <a class="nav-item nav-link" href="/projects">Projects</a>
      </nav>
    </header> <%# End navbar %>

    <div class="container-fluid"> <%# Start body %>
      <%= yield %>
    </div> <%# End body %>

    <footer class="container-fluid"> <%# Start footer %>
      <small>&copy; 2019 <strong>Inspire</strong></small>
    </footer> <%# End footer %>

  </body>
</html>
